In [19]:
#scrapy crawl TweetScraper -a query="foo,#bar"
import pandas as pd
import glob
import json

In [12]:
files = glob.glob("TweetScraper/Data/tweet/*")
len(files)

0

In [13]:
pwd

'c:\\Users\\2017j\\Desktop\\Jay-Projects\\2020\\Final-Year-Project'

In [14]:
dictlist = []
for file in files:
    json_string = open(file,'r',encoding="utf8").read()
    json_dict = json.loads(json_string)
    dictlist.append(json_dict)

In [15]:
df = pd.DataFrame(dictlist)
df = df.replace({'\n': ' '}, regex=True) # remove linebreaks in the dataframe
df = df.replace({'\t': ' '}, regex=True) # remove tabs in the dataframe
df = df.replace({'\r': ' '}, regex=True) # remove carriage return in the dataframe

In [16]:
df

Empty DataFrame
Columns: []
Index: []

In [17]:
df.to_csv("test.csv")

In [18]:
df.columns

Index([], dtype='object')